.select2-search__field {
   font-size: 12px !important;
}

.select2-results__options {
   font-size: 12px !important;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type=number] {
   -moz-appearance: textfield;
}

.navbar-brand img {
   height: 2.5rem !important;
}

.pac-container {
   z-index: 1051 !important;
}

.form-control:focus {
   border: 1px solid lightgray !important;
   outline: none;
}

.dataTables_info {
   margin-top: 25px;
}

.dataTables_paginate {
   margin-top: 25px;
}

.dataTables_scrollHeadInner, .table {
   width: 100% !important;
}

.nowrap {
   white-space: nowrap;
}

.pointer-element {
   cursor: pointer;
}

.validation-select {
   border: 1px solid red !important;
}

.field-gray {
   background: lightgray !important;
}