.dataTables_info {
   margin-top: 25px;
}

.dataTables_paginate {
   margin-top: 25px;
}

.dataTables_scrollHeadInner, .table {
   width: 100% !important;
}

.nowrap {
   white-space: nowrap;
}

.pointer-element {
   cursor: pointer;
}

.validation-select {
   border: 1px solid red !important;
}

.field-gray {
   background: lightgray !important;
}