.header-row > #logo > a > img {
   max-height: 70px;
}

.menu-container #tab-shop {
   padding: 0 30px;
   background-color: #F9F9F9;
   border-bottom: 1px solid #EEE;
}

.menu-container #tab-shop .nav-link {
   color: #333;
   padding: 18px 25px;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 13px;
   letter-spacing: 1px;
}

.menu-container #tab-shop .nav-link.active {
   border-bottom: 2px solid #30302E;
   color: #30302E;
}

@media (max-width: 991.98px) {
   .menu-container #tab-shop .nav-link {
      padding: 15px;
   }
}

@media only screen and (max-width: 991px) {
   .header-row > #logo > a > img {
      max-height: 55px !important;
   }
}