.sup-top {
   top: -7px;
   position: relative;
   font-size: 13px;
   left: 15px;
   line-height: 0;
   vertical-align: baseline;
}

.sup-top span {
   background: #ebb11f;
   font-size: 9.5px;
   font-weight: bold;
}

.navigation-menu {
   background: #51b4ba;
}

.navigation-menu .nav-item .nav-link {
   padding-bottom: 0 !important;
   color: white !important;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 12px;
}

.navigation-menu .nav-item .nav-link.active {
   border: 3px solid #e93c28;
   background: #e93c28 !important;
}

.badge {
   position: absolute;
   top: 0;
   right: 0;
   display: inline-block;
   min-width: 10px;
   padding: 3px 7px;
   font-size: 12px;
   font-weight: 700;
   line-height: 1;
   color: #fff;
   text-align: center;
   white-space: nowrap;
   vertical-align: baseline;
   background-color: #777;
   border-radius: 10px;
}

.tabable .nav-tabs {
   overflow-x: auto;
   overflow-y: hidden;
   flex-wrap: nowrap;
   border: 0;
}

.tabable .nav-tabs .nav-link {
   border-radius: 0;
   color: black;
   white-space: nowrap;
}

.tabable .nav-tabs .nav-link:hover {
   border: 0;
}

.tabable .nav-tabs .nav-link.active {
   background: #e93c28;
   color: white;
   border: 0;
}

.tabable .nav-tabs::-webkit-scrollbar {
   height: 5px;
}

.tabable .nav-tabs::-webkit-scrollbar-track {
   background: lightgray;
   border: 3px solid lightgray;
}

.tabable .nav-tabs::-webkit-scrollbar-thumb {
   background-color: gray;
   border: 3px solid gray;
}

input:disabled {
   opacity: .5;
}

.circle-element {
   display: inline-block;
   width: 1rem;
   height: 1rem;
   vertical-align: text-bottom;
   border-radius: 50%;
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   border-bottom-left-radius: 50%;
   border-bottom-right-radius: 50%;
}

.text-teal {
   color: #51b4ba !important;
}

.bg-yellow {
   background: #ebb11f !important;
}

.top-links-item {
   border: 0 !important;
}

.top-cart-number::before {
   background: #e93c28 !important;
}

.top-links-item:hover {
   background: none !important;
}

.top-links-item > a {
   line-height: 0 !important;
}

.btn-teal {
   color: white;
   background: #51b4ba !important;
   border: 1px solid #51b4ba !important;
}

.btn-teal:focus {
   outline: none !important;
   border: none !important;
}

.btn-teal:hover {
   color: white;
   background: #51b4ba !important;
   border: 1px solid #51b4ba !important;
   outline: none !important;
}

.btn-outline-teal {
   color: #51b4ba !important;
   background: white !important;
   border: 1px solid #51b4ba !important;
}

.btn-outline-teal:focus {
   outline: none !important;
}

.btn-outline-teal:hover {
   color: white !important;
   background: #51b4ba !important;
   border: 1px solid #51b4ba !important;
}

.bg-teal {
   color: white !important;
   background: #51b4ba !important;
}

.bg-teal:hover {
   opacity: .9;
}

.pagination > li > a {
   border: none;
}

.no-outline {
   border: 1px solid rgba(0, 0, 0, 0.2);
}

.no-outline:focus {
   border: 1px solid rgba(0, 0, 0, 0.4);
   box-shadow: none;
}

.font-size-11 {
   font-size: 11px !important;
}

.font-size-12 {
   font-size: 12px !important;
}

.font-size-13 {
   font-size: 13px !important;
}

.font-size-14 {
   font-size: 14px !important;
}

.font-size-header-top {
   font-size: 11px !important;
   font-weight: 500 !important;
   text-transform: uppercase;
}

.nowrap {
   white-space: nowrap;
}

.syotimer-cell_type_day {
   display: none !important;
}

.list-group a.active {
   background: #51b4ba !important;
   border: none;
}

.product .grid-inner {
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
   border: none !important;
   transition: 1s ease;
}

.product .grid-inner:hover {
   opacity: .7 !important;
   transform: translate(1%, 1%);
}

.product-thumbnail {
   height: 300px !important;
}

.product-desc .product-price span {
   font-size: 13px !important;
}

.product .grid-inner .product-image div.sale-flash {
   font-size: 8px !important;
   text-transform: uppercase;
}

.cursor-none {
   cursor: default;
}

.a-link-order {
   margin-left: 40px;
}

.active-link-custom {
   color: white !important;
   font-weight: bold !important;
   background: linear-gradient(#50b7bd, #ec3822, #efbd45) !important;
}

.focus-custom:focus {
   border: 1px solid #282828 !important;
   outline: none;
   box-shadow: none;
}

.header-row > #logo > a > img {
   max-height: 35px;
}

.menu-container #tab-shop {
   padding: 0 30px;
   background-color: #F9F9F9;
   border-bottom: 1px solid #EEE;
}

.menu-container #tab-shop .nav-link {
   color: #333;
   padding: 18px 25px;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 13px;
   letter-spacing: 1px;
}

.sidebar-filter-product > li > div.form-check > .form-check-input:checked + .form-check-label {
   font-weight: bold !important;
   color: #30302E !important;
}

.sidebar-filter-product > li > div.form-check > .form-check-label {
   margin-bottom: 10px;
   font-size: 10px !important;
}

.sidebar-filter-product {
   max-height: 270px !important;
   overflow-y: auto;
}


.sidebar-filter-product::-webkit-scrollbar {
   width: 3px;
}

.sidebar-filter-product::-webkit-scrollbar-track {
   background: lightgray;
   border: 3px solid lightgray;
}

.sidebar-filter-product::-webkit-scrollbar-thumb {
   background-color: gray;
   border-radius: 20px;
   border: 3px solid gray;
}

.menu-container #tab-shop .nav-link.active {
   border-bottom: 2px solid #30302E;
   color: #30302E;
}

.limit-text-list-product {
   font-size: 15px;
   max-height: 20px;
   overflow: hidden;
}

#side-panel > .side-panel-wrap > .widget > nav > ul > li > a {
   font-size: 12px !important;
   font-weight: 500;
}

#side-panel > .side-panel-wrap > .widget > nav > ul > li > a:hover {
   color: #edb31a !important;
}

@media (max-width: 1366px) {
   .product-thumbnail {
      height: 240px !important;
   }
}

@media only screen and (max-width: 1024px) {
   .header-row > #logo > a > img {
      max-height: 40px !important;
      margin-top: 15px;
      margin-bottom: 15px;
   }

   .product-thumbnail {
      height: 200px !important;
   }
}

@media (max-width: 768px) {
   .owl-prev {
      display: none;
   }

   .owl-next {
      display: none;
   }

   .promotion h3 {
      font-size: 16px !important;
      margin-bottom: 10px;
   }

   .menu-container #tab-shop .nav-link {
      padding: 15px;
   }

   .a-link-order {
      margin-left: 0 !important;
      margin-top: 5px;
   }

   .active-link-custom {
      padding: 10px !important;
   }

   .product-thumbnail {
      height: 200px !important;
   }

   .circle-element {
      display: inline-block;
      width: 10px;
      height: 10px;
      vertical-align: text-bottom;
      border-radius: 50%;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
   }

   .product .grid-inner .product-image div.sale-flash {
      font-size: 8px !important;
      text-transform: uppercase;
   }

   .product-desc .product-price h1 {
      font-size: 13px !important;
   }

   .product-desc .product-title h4 a {
      font-size: 11px !important;
   }

   .product-desc .product-price span {
      font-size: 11px !important;
   }
}