.list-group a.active {
   background: #222222 !important;
   border: none;
}

.product .grid-inner {
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
   border: none !important;
}

.product > img {
   width: 100%;
   max-height: 400px;
}

.cursor-none {
   cursor: default;
}

.a-link-order {
   margin-left: 40px;
}

.active-link-custom {
   color: white !important;
   font-weight: bold !important;
   background: linear-gradient(#50b7bd, #ec3822, #efbd45) !important;
}

.focus-custom:focus {
   border: 1px solid #282828 !important;
   outline: none;
   box-shadow: none;
}

.header-row > #logo > a > img {
   max-height: 50px;
}

.menu-container #tab-shop {
   padding: 0 30px;
   background-color: #F9F9F9;
   border-bottom: 1px solid #EEE;
}

.menu-container #tab-shop .nav-link {
   color: #333;
   padding: 18px 25px;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 13px;
   letter-spacing: 1px;
}

.sidebar-filter-product > li > div.form-check > .form-check-input:checked + .form-check-label {
   font-weight: bold !important;
   color: #30302E !important;
}

.sidebar-filter-product > li > div.form-check > .form-check-label {
   margin-bottom: 10px;
   font-size: 13px;
}

.sidebar-filter-product {
   max-height: 260px !important;
   overflow-y: auto;
}


.sidebar-filter-product::-webkit-scrollbar {
   width: 7px;
}

.sidebar-filter-product::-webkit-scrollbar-track {
   background: lightgray;
   border: 3px solid lightgray;
}

.sidebar-filter-product::-webkit-scrollbar-thumb {
   background-color: gray;
   border-radius: 20px;
   border: 3px solid gray;
}

.menu-container #tab-shop .nav-link.active {
   border-bottom: 2px solid #30302E;
   color: #30302E;
}

.limit-text-list-product {
   font-size: 15px;
   max-height: 20px;
   overflow: hidden;
}

#side-panel > .side-panel-wrap > .widget > nav > ul > li > a {
   font-size: 12px !important;
   font-weight: 500;
}

#side-panel > .side-panel-wrap > .widget > nav > ul > li > a:hover {
   color: #edb31a !important;
}

@media (max-width: 991.98px) {
   .menu-container #tab-shop .nav-link {
      padding: 15px;
   }

   .a-link-order {
      margin-left: 0 !important;
      margin-top: 5px;
   }

   .active-link-custom {
      padding: 10px !important;
   }
}

@media only screen and (max-width: 575px) {
   .limit-text-list-product {
      max-height: auto;
}
}

@media only screen and (max-width: 991px) {
   .header-row > #logo > a > img {
      max-height: 40px !important;
   }
}